[submodule "kubernetes"]
	path = kubernetes
	url = git@kubematic.github.com:kubematic/kubernetes.git
[submodule "apiserver"]
	path = apiserver
	url = git@kubematic.github.com:kubematic/apiserver.git
[submodule "security"]
	path = security
	url = git@kubematic.github.com:kubematic/security.git
[submodule "kubectl"]
	path = kubectl
	url = git@kubematic.github.com:kubematic/kubectl.git
[submodule "kube-scheduler"]
	path = kube-scheduler
	url = git@kubematic.github.com:kubematic/kube-scheduler.git
[submodule "kube-proxy"]
	path = kube-proxy
	url = git@kubematic.github.com:kubematic/kube-proxy.git
[submodule "cli-runtime"]
	path = cli-runtime
	url = git@kubematic.github.com:kubematic/cli-runtime.git
[submodule "kubelet"]
	path = kubelet
	url = git@kubematic.github.com:kubematic/kubelet.git
[submodule "dns"]
	path = dns
	url = git@kubematic.github.com:kubematic/dns.git
[submodule "kompose"]
	path = kompose
	url = git@kubematic.github.com:kubematic/kompose.git
